   <!-- navbar area, for filter input-->

   <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid w-50">
        <label for="search-user" class="col-sm-2 col-form-label">Search for employee:</label>
        <div class="col-sm-10">
            <input #searchInput type="text" class="form-control" id="search-user" placeholder="Enter a name">
        </div>
    </div>
</nav>
<!-- /end of navbar area-->
<!-- part for displaying user content-->
  <!-- part for displaying user content-->
  <div class="container pt-5">
    <h2 *ngIf="searchingUser">Total {{searchedUsers.length}} records found</h2>
    <table class="table mb-5 align-middle" id="users" *ngIf="searchingUser">
      <thead>
          <tr>
              <th style="width:20%;" scope="col">#</th>
              <th style="width:20%;" scope="col">First</th>
              <th style="width:20%;" scope="col">Last</th>
              <th style="width:20%;" scope="col">Role</th>
              <th style="width:20%;" scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of searchedUsers; let i = index">
              <th scope="row">{{ i + 1}}</th>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td *ngIf="user.role === 1">User</td>
              <td *ngIf="user.role === 2">Senior User</td>
              <td *ngIf="user.role === 3">WFM</td>
              <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteFromSearch(i, user.role, user.firstName)">Delete</button>
          </tr>
      </tbody>
  </table>
    <h2 *ngIf="!searchingUser">Users</h2>
    <table *ngIf="!searchingUser" class="table mb-5 align-middle" id="users">
        <thead>
            <tr>
                <th style="width:20%;" scope="col">#</th>
                <th style="width:20%;" scope="col">First</th>
                <th style="width:20%;" scope="col">Last</th>
                <th style="width:20%;" scope="col">Role</th>
                <th style="width:20%;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userRole; let i = index">
                <th scope="row">{{ i + 1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>User</td>
                <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteUser(i)">Delete</button>
            </tr>
        </tbody>
    </table>
    <h2 *ngIf="!searchingUser">Senior Users</h2>
    <table *ngIf="!searchingUser" class="table mb-5 align-middle" id="senior-users">
        <thead>
            <tr>
                <th style="width:20%;" scope="col">#</th>
                <th style="width:20%;" scope="col">First</th>
                <th style="width:20%;" scope="col">Last</th>
                <th style="width:20%;" scope="col">Role</th>
                <th style="width:20%;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of seniorUsers; let i = index">
                <th scope="row">{{ i + 1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>Senior User</td>
                <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteSeniorUser(i)">Delete</button>
            </tr>
        </tbody>
    </table>
    <h2 *ngIf="!searchingUser">WFM</h2>
    <table *ngIf="!searchingUser" class="table mb-5 align-middle" id="wfm-users">
        <thead>
            <tr>
                <th style="width:20%;" scope="col">#</th>
                <th style="width:20%;" scope="col">First</th>
                <th style="width:20%;" scope="col">Last</th>
                <th style="width:20%;" scope="col">Role</th>
                <th style="width:20%;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of wfmUsers; let i = index">
              <th scope="row">{{ i + 1}}</th>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
                <td>WFM Professional</td>
                <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteWFMUser(i)">Delete</button>
            </tr>
        </tbody>
    </table>
    <button (click)="openModalWithClass(template)"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-user-modal">
        Add User
    </button>
</div>
<!-- /end of displaying content-->






 <!-- modal area-->



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add a new user</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="addUserForm">
    <div class="mb-3">
        <label for="first-name-input">First Name</label>
        <input
        [ngClass]="{'has-errors':addUserForm.get('firstName').hasError('required') && (addUserForm.get('firstName').touched || addUserForm.get('firstName').dirty) }"
        formControlName="firstName" type="text" class="form-control" id="first-name-input" placeholder="Mark">
        <ng-container
        [ngTemplateOutlet]="validationErrors"
        [ngTemplateOutletContext]="{
            validation:'required',
            message:'*Value Required',
            control:addUserForm.get('firstName')
        }"
        >
        </ng-container>
    </div>


    <div class="mb-3">
        <label for="last-name-input">Last Name</label>
        <input
        [ngClass]="{'has-errors':addUserForm.get('lastName').hasError('required') && (addUserForm.get('lastName').touched || addUserForm.get('lastName').dirty) }"
        formControlName="lastName" type="text" class="form-control" id="last-name-input" placeholder="Otto">
        <ng-container
        [ngTemplateOutlet]="validationErrors"
        [ngTemplateOutletContext]="{
            validation:'required',
            message:'*Value Required',
            control:addUserForm.get('lastName')
        }"
        >
        </ng-container>
    </div>

    <div class="mb-3">
        <label for="role-select">Role</label>
        <select
        [ngClass]="{'has-errors':addUserForm.get('role').hasError('required') && (addUserForm.get('role').touched || addUserForm.get('role').dirty) }"
        formControlName="role"  class="form-select w-100" id="role-select" aria-label="Role select">
            <option selected>Select a role</option>
            <option value="1">User</option>
            <option value="2">Senior User</option>
            <option value="3">WFM</option>
        </select>
        <ng-container
        [ngTemplateOutlet]="validationErrors"
        [ngTemplateOutletContext]="{
            validation:'required',
            message:'*Value Required',
            control:addUserForm.get('role')
        }"
        >
        </ng-container>

    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef?.hide()">Close</button>
  <button type="button" [disabled]="!addUserForm.valid" class="btn btn-primary" (click)="addUser(); modalRef?.hide()">Save changes</button>
</div>

</ng-template>


<ng-template
#validationErrors
let-control="control"
let-message="message"
let-validation="validation"
>
<ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="text-danger">
        {{ message }}
    </div>
</ng-container>

</ng-template>

